packages/
Cognology.FlightBookingApp/bin/
Cognology.FlightBookingApp/obj/
Cognology.FlightBookingApp/App_Data/aspnet-Cognology.FlightBookingApp-20180303082600_log.ldf
Cognology.FlightBookingApp/App_Data/aspnet-Cognology.FlightBookingApp-20180303082600.mdf
